
  <div id="content1">
    <ul>
    <li><a  href="/index">Home</a></li>
  <li><a  href="/categories">Music Categories</a></li>
  <li><a  href="#">Store</a></li>
  <li><a  href="/about">About Us</a></li>
  <li><a  href="/contact">Contact</a></li>
</ul>
  </div>
